.home{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
.home__image{
    height: 100%;
    mask-image: linear-gradient(to bottom rgba(0,0,0,1), rgba(0,0,0,0));
    display: block;
}
.home__row{
    display: inline-flex;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
    display:flex;
    grid-template-rows: 50px;
    
}
.res{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}